/* CSS Variables */
:root {
  --background-tab-color: #CCD;
  --background-tab-text-color: #8AE;
  --background-tab-hover-color: #DDE;
  --background-tab-hover-text-color: #6AF;
  --selected-tab-color: #EEF;
  --selected-tab-text-color: #49F;
  --selected-tab-hover-color: #EEF;
  --selected-tab-hover-text-color: #37F;
  --control-focus-color: #8CF;
  --control-focus-text-color: #24F;
  --control-focus-hover-color: #ACF;
  --control-focus-hover-text-color: #46E;
  --control-fade-color: inherit;
  --control-fade-text-color: #8AD;
  --control-fade-hover-color: #CDF;
  --control-fade-hover-text-color: #68E;

  --advanced-control-background-color: #DDF;
  --advanced-control-size: 1.3em;
  --advanced-control-padding: 3px;
}

/* Base */

body, html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
}

#main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 40px 1fr 30px;
  grid-template-columns: 26em 1fr;
}

/* Header */

header {
  grid-row: 1;
  grid-column: 1 / span 2;
  background: gray;
}

/* Footer */

footer {
  grid-row: 3;
  grid-column: 1 / span 2;
  background: gray;
}

/* Main */

main {
  grid-row: 2;
  grid-column: 2;
  overflow: hidden;
}

/* Main - Canvas */

#canvas {
  position: relative;
  //background: repeating-conic-gradient(#B0B0B0 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

/* Left Menu */

#left-menu {
  grid-row: 2;
  grid-column: 1;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Left Menu - Tabs */

#tabs-bar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tab-header {
  flex: 1;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px 5px 15px;
  transition: 0.3s;
  background: var(--background-tab-color);
  color: var(--background-tab-text-color);
  border-radius: 25px 25px 0px 0px;
  font-weight: bold;
  height: calc(1.25em + 10px);
  overflow: hidden;
}

.tab-header:hover {
  flex: 1.1;
  background: var(--background-tab-hover-color);
  color: var(--background-tab-hover-text-color);
}

.tab-header.active {
  flex: 1.5;
  color: var(--selected-tab-text-color);
  background: var(--selected-tab-color);
  font-weight: bolder;
  margin-top:5px;
  padding-top: 15px;
  height: calc(1.25em + 25px);
}

.tab-header.active:hover {
  flex: 1.5;
  color: var(--selected-tab-hover-text-color);
  background: var(--selected-tab-hover-color);
}

.tab-header[long] {
  flex: 1.5;
}
.tab-header[long]:hover {
  flex: 1.6;
}
.tab-header[long].active {
  flex: 2;
}

.tab-header[short] {
  flex: 0.7;
}
.tab-header[short]:hover {
  flex: 0.8;
}
.tab-header[short].active {
  flex: 1.2;
}

.tab-content {
  margin: 0px;
  display: none;
  padding: 10px 0 0 0;
  border-top: none;
  animation: fadeEffect 0.25s;
}

.tab-content.active {
  display: block;
}

#tab-container {
  display: block;
  background: var(--selected-tab-color);
  height: calc(100% - 1.25em - 30px);
  overflow: auto;
}

/* Left Menu - Tabs - View */

.controls-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Controls */

.control-holder {
  display: block;
  width: 80%;
  padding: 2px;
  margin: 5px 0;
  font-size: 1.1em;
  border: -10px solid black;
  border-radius: 0 0.5em 0.5em 0;
  color: var(--control-focus-text-color);
}

.control {
  padding: 3px 0.5em 3px 50px;
  margin: 6px 0px 0px -20px;
  color: var(--control-focus-text-color);
  background: var(--control-focus-color);
  display: block;
  height: 1.3em;
  border-radius: 0 0.5em 0.5em 0;
}

.expand-controls-checkbox {
  display: none;
}

.expand-controls-checkbox ~ .control .expand-controls-toggle {
  display: none;
  width: 1.75em;
  height:1.3em;
  padding-right: 0.8em;
  margin-right: -0.3em;
  text-align: right;
  float: right;
}

.expand-controls-checkbox ~ .control .expand-controls-toggle .expand-controls-arrow:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: .5em solid transparent;
  border-left-color: var(--control-fade-hover-text-color);
  transform-origin: 25% 50%;
  transition: transform 0.25s;
  transform: rotate(90deg);
}

.expand-controls-checkbox ~ .control .expand-controls-toggle:hover .expand-controls-arrow:after {
  border-left-color: var(--control-focus-text-color);
}

.expand-controls-checkbox:checked ~ .control .expand-controls-toggle .expand-controls-arrow:after {
  transform: rotate(180deg);
}

.enable-checkbox:checked ~ .control .expand-controls-toggle {
  display: inline-block;
}

.view-tab-controls-expanded {
  background: var(--advanced-control-background-color);
  margin: 0 0.5em 0 -0.5em;
  padding: 0 0 0 1em;
  border-radius: 0 0 0.5em 0;
  display: block;
  overflow: hidden;
  max-height: 0em;
  transition: 0.25s ease-out;
}

.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded {
  padding: 3px 0 3px 1em;
  max-height: 10em;
  transition: 0.25s ease-in;
}

.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='1'] { max-height: calc(1 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='2'] { max-height: calc(2 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='3'] { max-height: calc(3 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='4'] { max-height: calc(4 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='5'] { max-height: calc(5 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='6'] { max-height: calc(6 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='7'] { max-height: calc(7 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='8'] { max-height: calc(8 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='9'] { max-height: calc(9 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}
.enable-checkbox:checked ~ .expand-controls-checkbox:checked ~ .view-tab-controls-expanded[max-height='10'] { max-height: calc(10 * calc(var(--advanced-control-size) + calc(2 * var(--advanced-control-padding))));}

.advanced-control {
  display: block;
  height: var(--advanced-control-size);
  padding: var(--advanced-control-padding) 0 var(--advanced-control-padding) 0;
}
/* Controls - Number */

.control.entry .text {
  display: inline-block;
  width: 6em;
}

.control.entry input[type='number'] {
  display: inline-block;
}

/* Controls - Switch Slider */

.slider-checkbox {
  display: none;
}

.slider-label.highlightable {
  cursor: pointer;
  color: var(--control-fade-text-color);
  background: var(--control-fade-color);
}

.slider-label.highlightable:hover {
 color: var(--control-fade-hover-text-color);
 background: var(--control-fade-hover-color);
}

.slider-checkbox:checked ~ .slider-label.highlightable {
 color: var(--control-focus-text-color);
 background: var(--control-focus-color);
}

.slider-checkbox:checked ~ .slider-label.highlightable:hover {
 color: var(--control-focus-hover-text-color);
 background: var(--control-focus-hover-color);
}

.slider-label:hover .slider-container {
  background: var(--control-fade-hover-text-color);
}

.slider-checkbox:checked ~ .slider-label .slider-container {
  background: var(--control-focus-text-color);
}

.slider-checkbox:checked ~ .slider-label:hover .slider-container {
  background: var(--control-focus-hover-text-color);
}

.slider-container {
  position: relative;
  top: 0.1em;
  display: inline-block;
  border-radius: 0.55em;
  margin-right: 0.5em;
  width: 2.5em;
  height: 1.1em;
  background: var(--control-fade-text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider {
  position: relative;
  top: 0.1em;
  left: 0.1em;
  display: block;
  border-radius: 50%;
  content: '';
  width: 0.9em;
  height: 0.9em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-checkbox:checked ~ .slider-label .slider {
  -webkit-transform: translateX(1.4em);
  -ms-transform: translateX(1.4em);
  transform: translateX(1.4em);
}

/* Controls - Color Picker */

.view-tab-controls-advanced .color-control .text {
  position:relative;
  top: -0.3em;
  height:100%;
  width: 5em;
}

.view-tab-controls-advanced .color-control input[type='color'] {
  /*display: none;*/
  display: inline-block;
}

.view-tab-controls-advanced .color-control input[type='color'] ~ .color-picker {
  /*display: inline-block;*/
  display: none;
  height: 1.3em;
  width: 1.3em;
  border-radius: 0.25em;
  border:1px solid black;
}

.color-control .color-alpha-control {
  display: inline-block;
}
.color-control .alpha-control {
  display: inline-block;
  width: 5em;
}

/* Controls - Label */
.label-number-input {
  width: 3em;
}

/* Controls - Value Display */
.valuedisplay {
  pointer-events: none;
  position: relative;
  left: -0.5em;
  display: inline-block;
  font-size: 0.75em;
  width: 0px;
}

/* Controls - Keyframes */
.keyframe-color-preview {

}

/* Warnings */

span.warning-icon {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  width: 1.1em;
  height: 1.1em;
  background: yellow;
  color: red;
  border-radius: 50%;
  border: 1px solid red;
}

.control-holder.warning-icon {
  float: right;
}


/* Extra */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mouse-event-disabled {
  pointer-events: none;
}

.hidden{
  visibility: hidden;
}

.disabled {
  display: none;
}

/* Animations */

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
